h1{
    text-align: center;
    color:aquamarine;
}

button{
    background-color: green;
    color: white;
    border:none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 20px;
    width: 100px;
}